.resimSlider {
    height: 700px;
}

body {
    padding-top: 50px;
}

.hakkimda {
    background-color: #f2f2f2;
}

.hakkimda .container .yahya {
    border: none;
    border-top: 3px solid #343a40;
    max-width: 250px;
    margin: 25px auto;
    color: black;
}

